# System & editor files
.DS_Store
.idea/
*.iml
*.swp
*.bak
*.tmp

# Logs & temp files
log.txt
logs/
error_log
cronjobs/error_log

# Data & environment
.env
data/
*.json

# Composer
/vendor/
/composer.lock
/composer.phar

# Project-specific
assets/styles/*.php
